
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Playfair+Display:wght@500&family=Raleway:wght@100&family=Source+Code+Pro:wght@300&family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
    font-family: 'Inconsolata', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Tilt Prism', cursive;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(home-fon.jpeg);
    box-shadow: inset 0px 20px 25px 95px rgba(0,0,0,1);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

nav{
    position: fixed;
    top: 0;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    padding: 18px 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    font-size: 30px;
    text-shadow: white 50px 50px 50px;
    margin-top: 5px;
    z-index: 1;
}

nav a{
    text-decoration: none;
    color: white;
}

.info, .info1{
    text-align: center;
   
}

h1{
    font-size: 60px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Tilt Prism', cursive;
    margin-top: 150px;
}

.info h1{
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    border-radius: 30px;
    padding: 12px;
}
    
h4{
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}
.info h4{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 0;
    border-radius: 30px;
}

.info1 p{
    font-size: 25px;
    width: 500px;
    text-align: center;
    margin-bottom: 70px;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 0;
    border-radius: 30px;
}
.info svg{
    margin-top: 150px;
    margin-bottom: 150px;
    background: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 0;
    border-radius: 30px;
}
.info1 h2{
    font-size: 3rem;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: 0;
    border-radius: 30px;
}

.info .bx{
    display: flex;
    font-size: 2rem;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
}

.play{
    border: 2px solid white;
    border-radius: 30px;
    z-index: -1;
}

.formula{
    background-image: url(f1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    box-shadow: inset 0px 0px 49px 40px rgba(0,0,0,1);
    margin-top: 100px;
}

.formula h1{
    font-size: 40px;
    padding-bottom: 30px;
    padding: 80px;
}

.div-formula{
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 25px;
}

.div-formula a{
    text-decoration: none;
    color: white;
}

.massa .giovinazzi .lawson{
    display: flex;
    flex-direction: column;
}

h5{
    text-align: start;
    margin-top: -70px;
    padding-left: 10px;
    width: 350px;
}

.formula-lenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start ;
    text-align: start;
    margin-top: 50px;
    margin-left: 10px;
    padding: 5px;
    margin-bottom: 100px;
}

.formula-lenta a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    width: 800px;
    border-radius: 10px;
    padding-left: 10px;
}

.formula-lenta a:nth-child(odd){
    border: 0px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
}

.formula-lenta a:nth-child(even){
    border: 0px solid black;
    border-radius: 5px;
    background-color: rgba(202, 198, 198, 0.9);
}

.formula-lenta p{
    text-align: center;
}

.div-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.dr{
    position: relative;
    display: inline-block;
}

.content-dr{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content-dr a{
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.dr:hover .content-dr{
    display: block;
}

.dr button{
    color: black;
    font-size: 30px;
    border: 0px solid black;
    border-radius: 10px;
    padding: 5px;
    /* margin-left: 200px; */
    display: flex;
    align-items: center;
    text-align: center;
}

.more a{
    text-decoration: none;
    color: white;
}

.more{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    border: 3px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
}

button:hover{
    background-color: rgba(233, 248, 249, 0.8);
    border-color:rgb(233, 248, 249);
}

.more a:hover{
    color: black;
}

/* end formula 1 */

.wec{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url(wec1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    box-shadow: inset 0px 0px 49px 40px rgba(0,0,0,1);
}

.wec-header{
    margin-bottom: 30px;
    margin-top: -30px;
}

.wec-header h1{
    font-size: 40px;
}

.wec-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.card a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.card img{
    width: 400px;
    height: 300px; 
    border-radius: 10px;
}

.wec-button{
    margin-top: 50px;
    margin-bottom: 100px;
}

.nascar{
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-image: url(nascar.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    box-shadow: inset 0px 0px 49px 40px rgba(0,0,0,1);
}

.nascar-header{
    margin-top: -30px;
    margin-bottom: 30px;
}

.nascar-header h1{
    font-size: 40px;
}

.nascar-win{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.nascar-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: start;
}

.nascar-info img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

.nascar-info button{
    border: 2px solid;
    border-radius: 10px;
    border-color: white;
    background-color: black;
    padding: 5px;
    margin: 5px;
}

.nascar-info a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}